.button {
  height: 100px;
  border: 1px solid #000;
  font-size: x-large;
}

.normal {
  width: 25%;
}

.double {
  width: 50%;
}

.orange {
  background-color: orange;
}

.gray {
  background-color: #e0e0e0;
}
