.h1 {
  font-size: xx-large;
  height: 60px;
  text-align: right;
  padding-right: 1vw;
  border: 2px solid #d1d1d1;
  background-color: rgb(131, 134, 134);
  margin-bottom: 0;
  color: white;
  padding-top: 1vh;
}
